@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F5EB;
}
body header{
    background-color: blue;
    padding: 30px;
}
body header h1{
    color: black ;
    text-align: center;
}
body header nav{
    background-color: #2057cc;
    padding: 10px;
    margin-top: 10px;
}
body header nav a{
    background-color: blanchedalmond;
    color:black;
    text-decoration: none;
    padding: 0px 12px 0px 12px;
    border-radius: 8px;
    box-shadow: 0px 5px 6px 0px rgb(4, 148, 250);
}
body header nav a:hover{
    background-color: rgb(135, 205, 255);
}
.js{
    padding-left: 30px;
}
