@import url('https://fonts.googleapis.com/css2? family= Roboto & display=swap');

*{
    padding: 0px;
    margin: 0px;

}
h1{
    background-color:#6aa3b4;
    color:#fff ;
    text-align: center;
    padding: 50px;
}

.edit{
    text-align: center;
    margin: auto;
}



div{
    background-color:#0e6f41;
    padding: 22px;
    border-radius: 15px;
    border-radius:20px;
    text-align: center;
}

body{
    background-color: azure;
    font-family: 'Roboto', sans-serif;
    
}